
body {
  width: 100vw;
  height: 100vh;
  background-color: #dfdfdf;
}
.app-container{
  width: 50vw;
  height: 80vh;
  background-color: white;
  margin: auto;
  overflow-y: 'auto'; 
  box-shadow: 0 0 40px 0 rgba(0,0,0,.45);}
.image-size{
  width: 60px;
}
@media (max-width: 750px) {
  .app-container{
    width: 100vw;
    height: 100vh;
    overflow-y: 'auto';
    box-shadow: none;
  }
  body {
    background-color: transparent; 
  }
}
